.personal-area {
    &__grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 20px;
        border: 1px solid black;
        margin: 20px;
        border-radius: 3px;
        column-gap: 5px;
        row-gap: 5px;
    }
    &__show {
        grid-row: 1 / -1;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(125px, auto);
        &-item {
            margin: 5px;
            border: 1px solid black;
            cursor: pointer;
            &:hover {
                box-shadow: 1px 1px 5px 4px #faa91c;
            }
            &.active {
                box-shadow: 1px 1px 5px 4px #faa91c;
            }
        }
    }
    &__loading, &__remove, &__counter {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
        height: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__loading, &__remove {
        cursor: pointer;
        &:hover {
            background-color: #faa91c;
        }
    }
}